/* Welcome to my stylesheet! */

/* Disclaimer: 
I am not a professional, it will get messy.
Proceed at your own risk */


/* I broke the whole style sheets into "Global" classes and ids, "Modals/overlays", and those found on specific pages. Quite a few classes a repeated in multiple pages, but not enough to be considered "global", so they are left on the first page they are encoutered. */

/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
/* Global and supporting classes & tags*/
/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

html {min-height: 100%;}

body {
    min-width: 100%;
}

section {
    min-height: fit-content;
    margin: 0 auto;
}

button {
    outline: none;
}



section.onboardingFooter {display: flex;
    flex-direction: column;
    justify-content: center;}

a {
    color: black;
text-decoration: none;
cursor: pointer;}

li {margin: 20px 0;}

input {
    height: 50px;
    margin:10px 0;
}


label {text-align: left;
margin-top: 16px;
font-size: 18;
font-weight: 600;}



h1.button {
    text-align: center;
    height: 40px;
    width: 285px;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
    padding-top: 15px;
    border: 1px solid #E3E2E2;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: black;
    text-decoration: none;
    border-radius: 40px;
}

.header-grid-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-areas: " . headerLogo language";
    margin: 50px auto 0;
    max-width: 540px;
}


.header {
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
}


.languageContainer {
    display: flex;
    justify-content:space-between;
    padding: 5% 10%;
    text-align: center;
    width: 65px;
    align-items: center;
    border: 1px solid #CCCCCC;
    border-radius: 17px;
}

.container {
    padding: 0 20px;
    max-width: 540px;
    margin: 0 auto;
    min-height: 100%;
}

.disabled {
    color: #CCCCCC !important;
    border-color: #CCCCCC !important;
}


.ExtraBottomMargin {
    margin-bottom: 100px !important;
}

.disabledImage {

    filter: grayscale(50%) opacity(10%);
    
}

img#flagOfCanada {
    width: 17px;
    height: 9px;
    margin: 0 4px;
}

button#language {margin-left: auto;
grid-area: language;
margin:0 10px;
display: flex;
justify-content: space-between;
width: 80px;
margin-right: 20px;}
button{
    border: none;
    background-color: inherit;
    align-items: center;
}

#languageButton {
    color: black;
font-size: 12px;
font-family: "Open Sans", sans-serif;}

#headerLogo { 
    width: 85px;
height: 23px;
margin:auto;
grid-area: headerLogo;
display: flex;
flex-direction: column;}


/* body.open {overflow: hidden;

} */


/*     *//*     *//*     *//*     *//*     */
/* Global and supporting classes & tags ENDS*/
/*     *//*     *//*     *//*     *//*     */





/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
/* Modals and overlays */
/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */


/* modal number1 */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    background-color: rgba(242, 242, 242,0.9);
    border-radius: 14px;
    z-index: 2;
    width: 270px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    transition: 100ms ease-in-out;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}




.alertHeader {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    padding: 10px 20px 5px;
}

.alertBody {
    padding: 0 20px 5px;
    text-align: center;
    font-size: 13px;
}

.alertButton {
    font-size: 17px;
    font-weight: 400;
    color: #007AFF;

}

.alertButtonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    text-align: center;
    
    

}

.left {
    grid-area: left;
    padding: 12px 0;
    border:1px solid #707070;
    border-bottom-left-radius: 14px;
    border-left: none;
    border-bottom: none;
}

.right {
    grid-area: right;
    padding: 12px 0;
    border:1px solid #707070;
    border-bottom-right-radius: 14px;
    border-left:none;
    border-right: none;
    border-bottom: none;

}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    min-height: 600px;
    height: 100%;
}


#overlay.active {
    opacity: 1;
pointer-events: all;}

/* modal number2 */
.modal1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0);
    transition: 150ms ease-in;
    background-color: white;
    z-index: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: 100ms ease-in-out;
}

.modal1.active {
    transform: scale(1);
}

.utilityHeader {
    font-size: 22px;
    font-weight: 500;
    margin: 16px auto 32px;
    max-width: 540px;
}

.utilityBody
{
    display: flex;
    flex-direction: column;
    max-width: 540px;
    width: 100%;
    margin:0 auto;
}

.languageButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 4px;
    height: 60px;
    border: 1px solid rgba(60, 60, 67, 0.37);
    border-top: none;
    border-right: none;
    border-left: none;
}

.English {padding:0 12px;}

.French {padding:0 12px;}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}



/* modal number3 QR code page*/

.QRModal {
    display: flex;
    flex-direction: column;
    transform: scale(0);
    animation: 200ms;
    
}

#flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
}

.QRModal.active {
    transform: scale(1);
}



#YourQRCodeImage {
    width: 222px;
    height: 222px;
    margin: 0 auto;
}

#CodeModalHeader {
    margin: 40px 0 10px;
}

#CodeModalBody1 {
    font-size: 20px;
    padding: 10px 0 0;
    font-weight: 500;
}

#CodeModalBody2 {
    font-size: 14px;
    font-weight: 300;
}

#CreateYourQR {
    align-self: center;
}

.CreateYourQRButton {
    width: 100%;

    background-color: #BE0404;
}

#buttonText {color: white;}

#QCSubmit {
    background-color: white;}


/* modal number4, QR code page*/

.QRModal2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%) scale(0); 
    background-color: rgba(0, 0, 0, 0.5);
}

.QRModal2.active {
    transform: scale(1);
}

.QRModal2Img {
    width: 250px;
    height: 250px;
    

}
.QRModal2ImgContainer {
    padding: 20px;
    background-color: white;
}


.QRModal2Menu {
    display: flex;
    flex-direction: column;
    background-color: #EDECEE;
    width: 240px;
    margin: 40px 0 0;
    border-radius: 21px;
    margin-right: auto;
    align-items: flex-end;
    margin-left: 10px;
}

.QRModal2MenuItem {
    height: 30px;
    display: flex;
    width: 220px;
    flex-direction: row;
    padding: 10px 10px ;
    margin: 0 ;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #707070;
}

.QRModal2ItemImg {
    width: 25px;
    height: 25px;
}


#QROverlay {
        position: absolute;
        opacity: 0;
        height: 150vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        pointer-events: none;
        z-index: 2;
        filter: blur(8px);
    }

#QROverlay.active {
        opacity: 1;
    pointer-events: all;}


    
    /* modal number5, settings page*/

    .modal4 {
    position: fixed;
    top: 30%;
    left: 14%;
    transform: translate(-50%, -50%) scale(0); 
    background-color: rgba(242, 242, 242,0.9);
    border-radius: 14px;
    z-index: 4;
    width: 270px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    transition: 100ms ease-in-out;}

.modal4.active {
    transform: scale(1);
}



    /* modal number6, restrictions page*/

.modalR1 {
    position: fixed;
    top: 10%;
    left: 14%;
    transform: translate(-50%, -50%) scale(0); 
    background-color: rgba(242, 242, 242,0.9);
    border-radius: 14px;
    z-index: 2;
    width: 270px ;
    display: flex;
    flex-direction: column;
    height: fit-content;
    transition: 100ms ease-in-out;
}

.modalR1.active {
    transform: scale(1);
}

li.RestrictionList {
    list-style-type: none;
}


.RestrictionOverlayClose {
    font-size: 17px;
    font-weight: 400;
    color: #007AFF;
    padding: 12px 0;
    border:1px solid #707070;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    border-top: 1px solid #707070;

}


.LongOverlay {
    height: 136vh !important;
}
/*     *//*     *//*     *//*     *//*     */
/* Modals and overlays ENDS */
/*     *//*     *//*     *//*     *//*     */







/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
/* Loading Screen */
/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */

.loadingButtonGroupItem {
    margin: 20px 0;
}

#loadingLogo {margin: 0 auto;
height: 142px;
width: 102px;}

#FirstScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    width: 100%;
    margin: auto;
}

/* #loadingScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 100%;
    margin: auto;
} */




.loadingButtonGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    align-items: center;
    margin-bottom: 40px;
}
/*     *//*     *//*     *//*     *//*     */
/* Loading Screen ENDS */
/*     *//*     *//*     *//*     *//*     */




/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
/* Onboarding-wide tags */
/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
.onboarding {
    display: flex;
    flex-direction: column;
    margin-top:30px;
    margin-bottom: 20px;
    min-height: 400px;
    align-items: center;
    text-align: left;
}

#onboardingSection {
    display: flex;
    flex-direction: column;
    min-height: 90vh !important;
    justify-content: space-between;
}

.onboardingHeader {
    text-align: left;
    width: 100%;
    margin: 30px 0 20px;
    font-size: 20px;

}


.onboardingBody {
    font-size: 18px;
    text-align: left;
    height: 100%;
    padding-bottom: 10px;
}

#onboarding1Img { 
    width: 128px;
    height: auto;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationPage {
    background-color: #6F7070;
    width: 12px;
    height: 12px;
margin: 0 16px;
border-radius: 50%;
}

#active {
    background-color: #BE0404;
    width: 18px;
    height: 18px;
}


.onboardingFooterContainer {
    display:flex;
flex-direction: row;
justify-content: space-between;
padding: 0 20px 20px;
margin: auto;
margin-bottom: 0;
width: 90%;
max-width: 540px;
border: 1px solid #CCCCCC;
border-bottom: none;
border-left: none;
border-right: none;
padding-top: 20px;}


#Back {margin-right: auto;}
#Next {margin-left: auto;
background-color: inherit;
color: black;
font-size: 16px;
border: none;}
/*     *//*     *//*     *//*     *//*     */
/* Onboarding-wide tags  ENDS*/
/*     *//*     *//*     *//*     *//*     */





/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
/* OnboardingTrace */
/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
.CircleContainer {width: 128px;
height: 128px;}



.circle {background-color: rgba(188, 239, 172, 1);
	border-radius: 50%;
	animation: pulse-red 2s infinite;

height: 128px;
width: 128px;

	/* max-height: 128px;
    height: 100%;
	max-width: 128px;
    width: 100%; */

display: flex;
justify-content: center;
align-items: center;}

    @keyframes pulse-red {
        0% {
            transform: scale(0.9);
            box-shadow: 0 0 0 0 rgba(188, 239, 172, 0.7);
        }
        
        70% {
            transform: scale(1);
            box-shadow: 0 0 0 10px rgba(188, 239, 172, 0);
        }
        
        100% {
            transform: scale(0.9);
            box-shadow: 0 0 0 0 rgba(188, 239, 172, 0);
        }
    }

#exposureText {font-size: 18px;
text-align: center;}

#exposureTextOff {font-size: 18px;
    text-align: center;
color: red;}
/*     *//*     *//*     *//*     *//*     */
/* OnboardingTrace ENDS*/
/*     *//*     *//*     *//*     *//*     */






/* Feel free to ignore this idea dump */


/* 
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    padding: 0 10px;

} */





/* .onboardingButton {background-color: inherit;
border:none;
font-size: 16px;} */










/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
/* Onboarding QR, Key, Restrict */
/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
.onboardingGrid {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 100px 200px;
    grid-template-areas:"OnboardingI OnboardingI"
    "OnboardingIc OnboardingB";
    margin-top: 100px;
}

.OnboardingI {grid-area: OnboardingI;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
width: 80%;
object-fit: contain;}

.OnboardingB {grid-area: OnboardingB;
    margin-top: 20px;}

.OnboardingIc {grid-area: OnboardingIc;
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 20px;}
/*     *//*     *//*     *//*     *//*     */
/* Onboarding QR, Key, Restrict ENDS*/
/*     *//*     *//*     *//*     *//*     */






/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
/* main page */
/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
#settingsIcon {
    width: 22px;
    height: 22px;
    display: flex;
    margin:auto
}

.mainPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EFEFEF;
    max-height: 100vh;
    min-height: 721px;
    height: fit-content;
}

.currentLocationContainer {
    background-color: #BCEFAC;
    width: 250px;
    height: 70px;
    margin: 25px auto 40px;
    text-align: center;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px 20px
}

#locationIcon {
    width: 17.5px;
    height: 23.5px;
    padding:0 20px
}

.locationBodyContainer {
    padding:0 20px
}

.locationPlace {
    font-size: 14px;
    font-weight: 800;
    padding: 10px 0 5px;
}

.locationTier {
    font-size: 22px;
    font-weight: 800;
    padding: 5px 0 10px;
}

.mainMenu {
    margin-top: 30px;

}

.buttonContainer {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: "mainButtonImage buttonText";
}



.mainButton {
    width: 100%;
    max-width: 360px;
    border: 1px solid #E3E2E2;
    border-radius: 40px;
    margin: 10px 0;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.mainMenu {width: 80%;}

.mainButtonImage {
    grid-area: mainButtonImage;
    margin: auto;
}

.buttonText {
    font-size: 18px;
    font-weight: 600;
    width: 175px;
    grid-area: buttonText;
    margin: auto;
    text-align: center;
}
/*     *//*     *//*     *//*     *//*     */
/* main page ENDS */
/*     *//*     *//*     *//*     *//*     */


/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
/* One time key page */
/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
.oneTimeKeySection {
padding: 0 20px;
text-align: center;
margin: 40px auto 0;
max-width: 540px;
}

.keyList {
    padding: 5px 20px 40px
}


.keySubmitForm{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width:80%;
    margin: 0 auto;
}

#keyHeader {text-align: center;}



#keyInput {
    background-color: #EFEFEF;
    border: 1px solid #E3E2E2;
    border-radius: 5px;
    padding: 0 10px;
}

#keySubmit {
background-color: #BE0404;
color: white;
font-size: 18px;
font-weight: 700;
border-radius: 28px;
margin-bottom: 40px;
}

#QRSave {
    background-color: #BE0404;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 28px;
    min-width: 260px;
    max-width: 540px;
    }

.close-button {
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
}
/*     *//*     *//*     *//*     *//*     */
/* One time key ends */
/*     *//*     *//*     *//*     *//*     */


/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
/* QR code page 1 */
/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
.QRSection {
    text-align: center;
    margin: 40px auto 40px !important;
    }


.QRSubmit {
    height: 50px;
    font-size: 18px;
    width: auto;
    margin-top: 40px;;
}

.QRMake {
    margin-top: 40px;
}

#buttonText {
    font-size: 18px;
    padding: 10px 0;
}
/*     *//*     *//*     *//*     *//*     */
/* QR Page ENDS */
/*     *//*     *//*     *//*     *//*     */




/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
/* QRCode page 2 */
/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
.QRformContainer {
    background-color: white;
    box-shadow: 0 0 6px #C4C4C4;
    border-radius: 22px;
    padding: 16px 20px;
    width: 90%;
    text-align: center;
    margin: 40px auto 40px !important;
}

#QRC2Header {
    text-align: center;
    margin: 16px 8px;
}

.QRCodeForm {
    display: flex;
    flex-direction: column;

}

.QRInput {
    margin: 0;
    border-radius: 5px;
    border: 1px solid #E3E2E2;
    padding: 0 10px;
}

#QRC2Body {
    font-size: 12px;
text-align: center;
width: 80%;
margin: 0 auto;}



.QRCodeInfoContainer {
    margin: 20px auto 20px;
    text-decoration: underline;
    width: 80%;
    text-align: center;
}
/*     *//*     *//*     *//*     *//*     */
/* QRCode page 2 ENDS */
/*     *//*     *//*     *//*     *//*     */





/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
/* Settings page */
/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
    
    .SettingsMenu {
        max-width: 560px;
        margin:0 auto;
        display: flex;
        flex-direction: column;
    justify-content: center;
align-items: center;    
padding: 0 20px;
position: relative;}

    .SettingsStatus {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
align-items: center;  
width: 75%;
    }

.SettingsCircle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #34C759;
    margin: 20px auto;
    
    animation: settingStatus 3s infinite;
}
@keyframes settingStatus {
    0% {
        transform: scale(1);  
    }
    
    50% {
        transform: scale(0.8);    }
    
    100% {
        transform: scale(1);
    
    }
}

#SettingsStatusBody {
    text-align: center;
    margin: 10px 0 0;
}

.SettingsButtonContainer {
    height: 60px;
    border: 1px solid #707070;
    border-radius: 28px;
    min-width: 320px;
    max-width: 520px;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}



.important {
    background-color: #EFEFEF;
}

.SettingsButtonIcon {
    width: 10px;
    height: 15px;
}

.SettingsButton {
    display: flex;
    justify-content: center;
}

.SettingsButtonIconAlt {
    width: 15px;
    height: 15px;
}

.SettingsButtonIconContainer {
    margin: auto 0;

    
}
.SettingsButtonIconContainer2 {
    margin: auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}



.SettingsButtonText {
    font-size: 15px;
    font-weight: 400;
    padding: 0 10px;
}

.SettingsH {
    width:80%;
    max-width: 540px;
    margin: 20px auto 10px;
    padding: 0 20px;
    
}

h1#SettingsH1{
    text-align: left;
    font-size: 28px;
    font-weight: lighter;
}
h1#SettingsH2{
    text-align: left;
    font-size: 28px;
    font-weight: lighter;
}

.LastButton {
    margin-bottom: 100px;
}








#ToggleImage {
    width: 50px;
    height: 30px;
}

.ToggleImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #overlayS {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    height: 120%;
    filter: blur(8px);
}

#overlayS.active {opacity: 1;
    pointer-events: all;

} */

.CovidSettingsButton {
    width: 50px;
    height: 30px;
    background-color: #34C759;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    justify-content: flex-end;

}

.CovidSettingsButtonSlider {
    width: 21px;
    height: 21px;
    background-color: white;
    border-radius: 50%;
    
}


.yes {
    font-weight: 600;

}



.BiggerOffCircle {
    width: 128px;
    height: 128px;
        border-radius: 50%;
        background-color: #CCCCCC;
        margin: 20px auto;
        display: flex;
        
        align-items: center;
        

}
/*     *//*     *//*     *//*     *//*     */
/* Settings page  ENDS*/
/*     *//*     *//*     *//*     *//*     */




/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
    /* Restrictions page */
/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
    .ColorCodeGrid {
        max-width: 540px;
        margin:0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        width: 100%;
        grid-template-areas:"item1 item2 item3 item4 item5" ;
    }

    .ColorGridItem {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
    }

    .item1 {grid-area: item1;
    background-color: #BCEFAC;}
    .item2 {grid-area: item2;
    background-color: #F8EC7C;}
    .item3 {grid-area: item3;
    background-color: #FEAA00;}
    .item4 {grid-area: item4;
    background-color: #EF5A62;}
    .item5 {grid-area: item5;
    background-color: #BFBFBF;}

    #Active {
        width: 50px;
        height: 5px;
        background-color: white;
        align-self: center;
    }

    h1.ColorGridText {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
    }
    

    .RestrictGroupGrid {
        max-width: 540px;
        width: 100%;
        margin:0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "card1 card2 card3",
        "card4 card5 card6",
        "card7 card8 card9";
    }

    .RestrictGroupCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin:0 auto;
        max-width: 120px;
    }

    .RestrictGroupImg {
        max-width: 75px;
        max-height: 75px;
    }

    .RestrictGroupText {
        text-align: center;
        font-size: 14px;
        margin-bottom: 20px;
        max-width: 94px;
    }


    .RestrictionFooter {
        max-width: 540px;
        margin: 40px auto 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .RestrictionText {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    #RestrictionsLoc {margin-bottom: 30px;}

    .RestrictionLink {
text-decoration: underline;    }



.RestrictionsCardSubheading {
    font-size: 16px;
    padding: 0 0 2px;
    font-weight: 600;
}

.RestrictionList {
    font-size: 14px;
}


/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
/* THE END, THANK YOU FOR YOUR PATIENCE :) */
/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */
/*     *//*     *//*     *//*     *//*     */